<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OsgJobCoachingMapper">
    <resultMap type="com.ruoyi.system.domain.OsgJobCoaching" id="Result">
        <id property="id" column="id"/>
        <result property="studentId" column="student_id"/>
        <result property="studentName" column="student_name"/>
        <result property="mentorId" column="mentor_id"/>
        <result property="company" column="company"/>
        <result property="position" column="position"/>
        <result property="location" column="location"/>
        <result property="interviewStage" column="interview_stage"/>
        <result property="interviewTime" column="interview_time"/>
        <result property="coachingStatus" column="coaching_status"/>
        <result property="result" column="result"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <sql id="selectJobCoachingColumns">
        jc.id,
        jc.student_id,
        stu.student_name,
        jc.mentor_id,
        jc.company,
        jc.position,
        jc.location,
        jc.interview_stage,
        jc.interview_time,
        jc.coaching_status,
        jc.result,
        jc.create_time,
        jc.update_time
    </sql>
    <select id="selectList" resultMap="Result">
        select
        <include refid="selectJobCoachingColumns"/>
        from osg_job_coaching jc
        left join osg_student stu on stu.student_id = jc.student_id
        where jc.del_flag='0'
        <if test="mentorId != null">and jc.mentor_id=#{mentorId}</if>
        <if test="studentName != null and studentName != ''">and stu.student_name like concat('%',#{studentName},'%')</if>
        <if test="coachingStatus != null and coachingStatus != ''">and jc.coaching_status=#{coachingStatus}</if>
        <if test="company != null and company != ''">and jc.company like concat('%',#{company},'%')</if>
        order by jc.create_time desc
    </select>
    <select id="selectById" resultMap="Result">
        select
        <include refid="selectJobCoachingColumns"/>
        from osg_job_coaching jc
        left join osg_student stu on stu.student_id = jc.student_id
        where jc.id=#{id} and jc.del_flag='0'
    </select>
    <select id="selectCalendar" resultMap="Result">
        select
        <include refid="selectJobCoachingColumns"/>
        from osg_job_coaching jc
        left join osg_student stu on stu.student_id = jc.student_id
        where jc.del_flag='0'
          and jc.mentor_id=#{mentorId}
          and jc.interview_time is not null
        order by jc.interview_time asc
    </select>
    <update id="update">
        update osg_job_coaching <set><if test="coachingStatus != null">coaching_status=#{coachingStatus},</if>update_time=sysdate()</set> where id=#{id}
    </update>
</mapper>
