<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OsgStudentMapper">

    <resultMap id="OsgStudentResult" type="OsgStudent">
        <id property="studentId" column="student_id"/>
        <result property="studentName" column="student_name"/>
        <result property="email" column="email"/>
        <result property="gender" column="gender"/>
        <result property="school" column="school"/>
        <result property="major" column="major"/>
        <result property="graduationYear" column="graduation_year"/>
        <result property="majorDirection" column="major_direction"/>
        <result property="subDirection" column="sub_direction"/>
        <result property="targetRegion" column="target_region"/>
        <result property="recruitmentCycle" column="recruitment_cycle"/>
        <result property="leadMentorId" column="lead_mentor_id"/>
        <result property="assistantId" column="assistant_id"/>
        <result property="accountStatus" column="account_status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectStudentColumns">
        select student_id, student_name, email, gender, school, major, graduation_year,
               major_direction, sub_direction, target_region, recruitment_cycle,
               lead_mentor_id, assistant_id, account_status, create_by, create_time,
               update_by, update_time, remark
        from osg_student
    </sql>

    <select id="selectStudentByStudentId" parameterType="Long" resultMap="OsgStudentResult">
        <include refid="selectStudentColumns"/>
        where student_id = #{studentId}
    </select>

    <select id="selectStudentList" parameterType="OsgStudent" resultMap="OsgStudentResult">
        <include refid="selectStudentColumns"/>
        <where>
            <if test="studentId != null">
                and student_id = #{studentId}
            </if>
            <if test="studentName != null and studentName != ''">
                and student_name like concat('%', #{studentName}, '%')
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="school != null and school != ''">
                and school = #{school}
            </if>
            <if test="graduationYear != null">
                and graduation_year = #{graduationYear}
            </if>
            <if test="majorDirection != null and majorDirection != ''">
                and major_direction = #{majorDirection}
            </if>
            <if test="recruitmentCycle != null and recruitmentCycle != ''">
                and recruitment_cycle = #{recruitmentCycle}
            </if>
            <if test="leadMentorId != null">
                and lead_mentor_id = #{leadMentorId}
            </if>
            <if test="accountStatus != null and accountStatus != ''">
                and account_status = #{accountStatus}
            </if>
        </where>
        order by student_id desc
    </select>

    <insert id="insertStudent" parameterType="OsgStudent" useGeneratedKeys="true" keyProperty="studentId">
        insert into osg_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentName != null and studentName != ''">student_name,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="gender != null and gender != ''">gender,</if>
            <if test="school != null and school != ''">school,</if>
            <if test="major != null and major != ''">major,</if>
            <if test="graduationYear != null">graduation_year,</if>
            <if test="majorDirection != null and majorDirection != ''">major_direction,</if>
            <if test="subDirection != null and subDirection != ''">sub_direction,</if>
            <if test="targetRegion != null and targetRegion != ''">target_region,</if>
            <if test="recruitmentCycle != null and recruitmentCycle != ''">recruitment_cycle,</if>
            <if test="leadMentorId != null">lead_mentor_id,</if>
            <if test="assistantId != null">assistant_id,</if>
            <if test="accountStatus != null and accountStatus != ''">account_status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            update_time,
            <if test="remark != null and remark != ''">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentName != null and studentName != ''">#{studentName},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="school != null and school != ''">#{school},</if>
            <if test="major != null and major != ''">#{major},</if>
            <if test="graduationYear != null">#{graduationYear},</if>
            <if test="majorDirection != null and majorDirection != ''">#{majorDirection},</if>
            <if test="subDirection != null and subDirection != ''">#{subDirection},</if>
            <if test="targetRegion != null and targetRegion != ''">#{targetRegion},</if>
            <if test="recruitmentCycle != null and recruitmentCycle != ''">#{recruitmentCycle},</if>
            <if test="leadMentorId != null">#{leadMentorId},</if>
            <if test="assistantId != null">#{assistantId},</if>
            <if test="accountStatus != null and accountStatus != ''">#{accountStatus},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            sysdate(),
            <if test="remark != null and remark != ''">#{remark},</if>
        </trim>
    </insert>

    <update id="updateStudent" parameterType="OsgStudent">
        update osg_student
        <set>
            <if test="studentName != null and studentName != ''">student_name = #{studentName},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="school != null">school = #{school},</if>
            <if test="major != null">major = #{major},</if>
            <if test="graduationYear != null">graduation_year = #{graduationYear},</if>
            <if test="majorDirection != null">major_direction = #{majorDirection},</if>
            <if test="subDirection != null">sub_direction = #{subDirection},</if>
            <if test="targetRegion != null">target_region = #{targetRegion},</if>
            <if test="recruitmentCycle != null">recruitment_cycle = #{recruitmentCycle},</if>
            <if test="leadMentorId != null">lead_mentor_id = #{leadMentorId},</if>
            <if test="assistantId != null">assistant_id = #{assistantId},</if>
            <if test="accountStatus != null and accountStatus != ''">account_status = #{accountStatus},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where student_id = #{studentId}
    </update>

    <update id="updateStudentStatus" parameterType="OsgStudent">
        update osg_student
        set account_status = #{accountStatus},
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        where student_id = #{studentId}
    </update>

    <delete id="deleteStudentByStudentId" parameterType="Long">
        delete from osg_student where student_id = #{studentId}
    </delete>

    <delete id="deleteStudentByStudentIds" parameterType="Long">
        delete from osg_student where student_id in
        <foreach collection="array" item="studentId" open="(" separator="," close=")">
            #{studentId}
        </foreach>
    </delete>

</mapper>
