COMPOSE_PROJECT_NAME
TEST_DEPENDENCY_MODE
TZ
SPRING_PROFILES_ACTIVE
MYSQL_DATABASE
MYSQL_APP_USER
MYSQL_APP_PASSWORD
REDIS_PASSWORD
JWT_SECRET
RUOYI_PROFILE
VITE_API_PROXY_TARGET
E2E_API_PROXY_TARGET
MYSQL_SHARED_HOST
MYSQL_SHARED_PORT
REDIS_SHARED_HOST
REDIS_SHARED_PORT
BACKEND_PORT
STUDENT_PORT
MENTOR_PORT
LEAD_MENTOR_PORT
ASSISTANT_PORT
ADMIN_PORT
